body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.display-div {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  width: 45vw;
}